html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

/*header and nav bar*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.1354166667vw;
  background: #80A62E 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.logo {
  cursor: pointer;
  width: 5.46875vw;
  height: 6.5104166667vw;
  margin-left: 7.2916666667vw;
}

.navLinks {
  list-style: none;
  right: 1.041vw;
}

.navLinks li {
  display: inline-block;
  padding: 0 1.041vw;
 
}

.navLinks a {
  text-align: center;
  font-family: Helvetica Neue;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
  font-size: 1.5625vw;
}

.nav {
  margin-right: 5%;
}

/*hero section*/

.hero {
  background-image: url(./assets/imgs/bgImage.png);
  background-color: rgba(0, 0, 0, 0.27);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding-top: 6.1979166667vw;
  text-align: left;
  padding-right: 5%;
  padding-left: 35%;
}

h1 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #18BF12;
  font-size: 10.41667vw;
}

.subTitle {
  text-align: left;
  padding-right: 5%;
  padding-left: 35%;
  padding-bottom: 2.037037037vw;
}

h2 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ABC6AA;
  font-size: 3.90625vw;
}


.button {
  width: 11.5625vw;
  height: 4.1666666667vw;
  border: 1px solid #707070;
  margin-bottom: 16.6666666667vw;
  cursor: grab;
}

.button a {
  text-decoration: none;
}

.Blarge {
  background: #80A62E 0% 0% no-repeat padding-box;
  margin-left: 35.3645833333vw;
}

.Blarge > a {
  text-transform: uppercase;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 1.8229166667vw;
}

.Bsmall{
  background: #DEDEDE 0% 0% no-repeat padding-box;
  margin-left: 3.0729166667vw;
}

.Bsmall > a {
  font-family: Helvetica, sans-serif;
  color: black;
  font-style: bold;
  font-size: 1.5625vw;
}

/*kursauswahl cards*/

.categorys {
  display: flex;
  gap: 2.7604166667vw;
  padding: 5.8333333333vw 2.65625vw;
  background-color: #80A62E;
}

.card {
  width: 29.7395833333vw;
  cursor: pointer;
  height: 43.125vw;
}

.card > h3 {
  font-family: "futura-pt";
  font-size: 5.2083333333vw;
  color: #E8E8E8;
  text-transform: capitalize;
  text-align: center;
}

.categorys > a {
  text-decoration: none;
}

.offenes {
  background-image: url(./assets/imgs/hockeySlideshow.png);
  background-color: rgba(0, 0, 0, 0.42);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 38%;
}

.gemeinschaft {
  background-image: url(./assets/imgs/Orchester-Geigen.png);
  background-color: rgba(0, 0, 0, 0.42);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.gemeinschaft > h3 {
  font-size: 3.125vw;
}

.lernhaus {
  background-image: url(./assets/imgs/logoLernhaus.png);
  background-color: rgba(0, 0, 0, 0.42);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}

/* Welcome Text */

.welcomeText {
  padding-bottom: 3.3333333333vw;
}

.welcomeText > h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 7.8125vw;
  color: #73264A;
  padding: 3.3333333333vw 4.1666666667vw 1.1458333333vw 7.2916666667vw;
}

.welcomeText h2{
  color: #73264A;
  font-size: 2.6041666667vw;
}

.wText{
  font-family: Helvetica;
  font-size: 2.0833333333vw;
}

.akoFilm {
  font-size: 1.5625vw;
}

/* grid for dynamic text */

.dynamicText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0.5208333333vw;

  grid-template-areas: 
  "p p img"
  "img2 p2 p2";
}


.part1 {
  padding-left: 7.2916666667vw;
  width: 63.8541666667vw;
  height: 24.8958333333vw;
  grid-area: p;
}

.part2 {
  grid-area: p2;
}

.tabatabei {
  grid-area: img;
  width: 26.0416666667vw;
}

.akoFilm {
  padding-left: 7.2916666667vw;
  grid-area: img2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.akoFilmImg {
  width: 15.625vw;
}

/* TC Blau Weiß AKO */

.tennis {
  background-image: url(./assets/imgs/tennis.png);
  background-color: rgba(0, 0, 0, 0.42);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  height: 52.2916666667vw;
}

.tennis > h1 {
  color: #1111ff;
  padding: 24.5833333333vw 0 0 7.2916666667vw;
  font-size: 7.8125vw;
}

.tennis > h2 {
  color: rgb(207, 207, 207);
  padding: 0 0 0 7.2916666667vw;
}

.buttonTennis {
  margin: 1.3020833333vw 0 0 7.2916666667vw;
  width: 18.69791666667vw;
  height: 4.166666667vw;
  background: #5353FF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.82291666667vw;
}
